body {
  padding-top: 50px;
}
h1 {
  font-size: 63px;
  text-align: center;
}
textarea {
  margin-bottom: 20px;
}
#user-view .btn,
#user-entry button {
  margin-bottom: 30px;
}

#user-view .text {
  padding: 10px;
  line-height: 25px;
}

#id {
    margin-bottom: 10px;
}

#algorithm {
    display: block;
    margin-bottom: 10px;
}
