html {
    position: relative;
    min-height: 100%;
}

footer {
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    color: #fff;
    padding-top: 20px;
}

body {
  margin: 0 0 100px;
  padding: 25px;
  padding-top: 50px;
}
h1 {
  font-size: 63px;
  text-align: center;
}
textarea {
  margin-bottom: 20px;
}
#user-view .btn,
#user-entry button {
  margin-bottom: 30px;
}

#user-view .text {
  padding: 10px;
  line-height: 25px;
}

#id {
    margin-bottom: 10px;
}

#algorithm {
    margin-bottom: 10px;
}

#corrections {
    margin-bottom: 10px;
}
